*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#f5eee6;
    background-color: #131313;
    overflow-x: hidden;
    border:2px solid red;
}
.header{
    min-height: 100vh;
    width:100%;
    background-color: #131313;
    border: 1px solid white;
    transition: 0.6s;
    background-image: url(mafia.jpg); 
    background-size: cover;

}
nav{
    position:sticky;
    z-index:1 ;
    display:flex;
    padding:2% 6%;
    align-items: center;
    /* background-color: red;; */
    /* background-color: raba(0,0,0,0.8); */
    background: transparent;
    backdrop-filter: blur(7px);
    top:0;
}
nav a{
    text-decoration:none;
    font-weight: bold;
    margin-right: 1.625rem;
    font-size: 1.5rem;
    font-style:migra;
     font-family: 'Raleway', sans-serif; 
    font-weight:bold;
    color:white;
    /* font-family: 'Big Shoulders Stencil Display', cursive; */
    background:transparent;

    
}
.pr{
    height:100vh;
}
